{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Book List<a style="float: right" href="{% url 'catalog:books-create' %}">+</a></h1>
  <form method="get" action="" class="form-inline">
      {{ search_form|crispy }}
    <input class="btn btn-secondary" type="submit" value="🔎">
  </form>
  {% if book_list %}
  	<ul>
      {% for book in book_list %}
      	<li><a href="{{ book.get_absolute_url }}">{{ book.title }} ({{ book.price }}, {{ book.format }})</a></li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
